/* headings */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Rubik:wght@300;400;500;600;700;800&display=swap");

/* font-family: 'Rubik', sans-serif; */

/* for paragrahs, button,... */
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700;800&family=Roboto+Slab:wght@500&family=Rubik:wght@300;400;500;600;700;800&display=swap");

/* font-family: 'Andada Pro', serif; */

@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700;800&family=Roboto+Slab:wght@500&family=Rubik:wght@300;400;500;600;700;800&family=Source+Serif+Pro:wght@200;300;400;600;700&display=swap");

/* font-family: 'Source Serif Pro', serif; */

:root {
  --clr-base: #333;
  --clr-link-blue: #27b9c2;
  --clr-link-yellow: #ffc80a;

  --clr-ntrl-dk: #222;
  --clr-ntrl-dkr: #000;
  --clr-ntrl-lt: #9fa3a7;
  --clr-ntrl-ltr: #fff;

  --bg-clr-grey: #f7f8f9;
  --bg-clr-blue-grey: #93b6b7;
  --bg-clr-twt-lt: #38d5f4;
  --bg-clr-twt-dk: #35cfed;
  --bg-clr-disk-lt: #8576bc;
  --bg-clr-disk-dk: #8166b0;
  --bg-clr-red-lt: #f05638;
}

body {
  font-family: "Andada Pro", serif;
  min-height: 100vh;
  color: var(--clr-base);
  min-width: 90vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body sytling */

/* utility classes */
.upcase {
  text-transform: uppercase;
}

.downcase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-2-5 {
  margin-top: 2.5rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-2-5 {
  margin-bottom: 2.5rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.text-center {
  text-align: center;
}

.subtitle-style {
  color: var(--clr-ntrl-lt);
  font-weight: bolder;
  letter-spacing: 0.1rem;
  font-family: "Rubik", sans-serif;
  font-size: 0.8rem;
}

/* end of utility classes */
section {
  margin: 0 auto;
}
a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto;
  /* max-width: 250px; */
}

/* main header styling */
.main-header {
  padding: 3rem 0 3.5rem 0;
  background-color: var(--bg-clr-grey);
}
.main-header__subtitle {
  margin-bottom: 2rem;
}
.main-header__title {
  font-size: 3rem;
  font-weight: 500;
}
.main-header__link-wrapper {
  margin-top: 1.6rem;
}
.main-header__link {
  color: var(--clr-link-blue);
}

/* end of header styles */

/* content area styling */
.iphone6s-wrapper {
  padding: 0 1.5rem;
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: 1rem;
}
.iphone6s__title {
  font-weight: lighter;
  margin-bottom: 0.8rem;
}
.iphone6s__paragraph {
  color: var(--clr-ntrl-lt);
  margin-bottom: 1.1rem;
}

/* mobile phone image section */
.phone__img {
  margin: 0 auto;
  max-width: 250px;
}

/* keyboard section */
.keyboard-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 23rem;
  background-color: var(--bg-clr-red-lt);
  justify-content: space-evenly;
  align-items: center;
}
.keyboard__img {
  aspect-ratio: 2 / 1;
  width: 100%;
  max-width: 330px;
}
.keyboard__title {
  color: var(--clr-ntrl-ltr);
  width: 50%;
  font-family: "Source serif pro", serif;
  margin-top: -1.8rem;
}
.keyboard__link {
  color: var(--clr-link-yellow);
  display: block;
  margin-top: -1rem;
}
.keyboard__link strong {
  font-size: 1rem;
}

/* gamepad section styling */
.gamepad-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 21rem;
  background-color: var(--bg-clr-grey);
}
.gamepad__title {
  font-weight: 500;
}
.gamepad__img {
  text-align: center;
  max-width: 16rem;
  position: relative;
  left: -1.2rem;
}
.gamepad__link {
  color: var(--clr-link-blue);
}

/* imac section styling */
.imac-wrapper {
  display: flex;
  padding: 0 1rem;
  min-height: 16rem;
  flex-direction: column;
  justify-content: space-evenly;
}
.imac__img {
  max-width: 18rem;
}

/* apple experience section */
.apple-exp-wrapper {
  min-height: 12rem;
  margin: 0 1rem;
}
.apple-exp__paragraph {
  color: var(--clr-ntrl-lt);
  font-family: "Source Serif Pro";
  line-height: 1.5;
  margin-bottom: 1.2rem;
}
.apple-exp__link {
  color: var(--clr-link-blue);
  letter-spacing: 0.2rem;
}

/* connect with twitter section */
.connect-twitter-wrapper {
  display: flex;
  min-height: 15rem;
  background-color: var(--bg-clr-twt-lt);
  justify-content: center;
  align-items: center;
}
.twt__img-wrapper--round {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--bg-clr-twt-dk);
  width: 15rem;
  height: 15rem;
}
.twt__img {
  max-width: 2.8rem;
}
.twt__title {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 1.5rem;
  color: var(--clr-ntrl-ltr);
}

/* best choice styling */
.best-choice-wrapper {
  position: relative;
  background-color: var(--bg-clr-blue-grey);
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 1.5rem;
  background-image: url("https://uploads-ssl.webflow.com/5bc242f45a5ed923b1704210/5bc2f42d5a5ed97dab707e7e_UX.png");
  background-position: 50% 100%;
  background-size: 80%;
  background-repeat: no-repeat;
}
.best-choice__button {
  margin: 1rem 0 0 1rem;
  background-color: var(--bg-clr-red-lt);
  justify-self: start;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  font-weight: 500;
  padding: 0.4rem 0.7rem;
  font-size: 0.53rem;
  color: var(--clr-ntrl-ltr);
}
.best-choice__title {
  color: var(--clr-ntrl-ltr);
  font-family: "Rubik", sans-serif;
  width: 80%;
  margin: 0 auto;
  align-self: center;
}
.best-choice__img {
  max-width: 25rem;
  transform: translateX(-13%);
}

/* icloud section styling */
.icloud-wrapper {
  padding: 2rem 1rem 0 1rem;
  background-color: var(--bg-clr-disk-lt);
  color: var(--clr-ntrl-ltr);
  min-height: 45rem;
}
.icloud__img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-clr-disk-dk);
  height: 23.5rem;
  width: 23.5rem;
  border-radius: 50%;
}
.icloud__img-tag img {
  width: 12px;
  margin-right: 0.5rem;
}
.icloud__img-tag {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
  background-color: var(--bg-clr-disk-lt);
  padding: 0.4rem 0.6rem;
  display: flex;
  border-radius: 2rem;
}
.icloud__img {
  max-width: 16em;
}
.icloud__img-subtitle {
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}
.icloud__article-title {
  font-family: "Source Serif Pro", sans-serif;
  font-size: 2.2rem;
  font-weight: 900;
}
.icloud__article-par {
  line-height: 1.6;
  width: 80%;
  margin: 0.4rem auto 2rem auto;
}
.icloud__article-link {
  padding: 1.2rem 1.6rem;
  font-weight: 600;
  background-color: var(--clr-link-yellow);
  border-radius: 1.5rem;
  color: var(--clr-ntrl-dk);
  letter-spacing: 0.1rem;
}

/* better experience section styling */
.better-exp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.1rem;
  min-height: 11rem;
  background-color: var(--bg-clr-grey);
}
.better-exp__tag {
  color: var(--clr-ntrl-ltr);
  background: #7bc424;
  font-size: 0.52rem;
  align-self: center;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  margin-top: -2rem;
}
.better-exp__title {
  width: 70%;
  max-width: 15rem;
  font-size: 1.5rem;
  margin: 1rem auto 0 auto;
  font-weight: 600;
}

/* tv image section styling */
.tv-img-wrapper {
  display: flex;
  flex-direction: column;
  background: #2c2c2c;
}
.tv__img {
  width: 80%;
  max-width: 17rem;
  transform: translateX(-20%);
}
.tv__par {
  color: var(--clr-ntrl-ltr);
  font-size: 1.5rem;
  font-weight: 500;
}
/* end of content area styling */

/* media queries */
@media screen and (min-width: 480px) {
}
